<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPEC M2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        if (location.href.indexOf('/', location.href.length - 1) === -1) {
            location.href = location.href + '/';
        }
    </script>
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/spin")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ui-bootstrap")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
